<app-nav></app-nav>

<div class="user-management-container">
    <div class="form-container mat-elevation-z5 formDiv">
        <h1 class="subtitle">User management</h1>
        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
            <mat-form-field class="form-group">
                <input type="text" matInput name="firstName" #firstName="ngModel" [(ngModel)]="service.formData.firstName" placeholder="First name" class="form-control" required>
                <div *ngIf="firstName.invalid && firstName.touched" class="validation-error">First name is required!</div>
            </mat-form-field>
            <mat-form-field class="form-group">
                <input type="text" matInput name="lastName" #lastName="ngModel" [(ngModel)]="service.formData.lastName" placeholder="Last name" class="form-control" required>
                <div *ngIf="lastName.invalid && lastName.touched" class="validation-error">Last name is required!</div>
            </mat-form-field>
            <mat-form-field class="form-group">
                <input type="text" matInput name="email" #email="ngModel" [(ngModel)]="service.formData.email" placeholder="E-mail" class="form-control" required>
                <div *ngIf="email.invalid && email.touched" class="validation-error">E-mail is required!</div>
            </mat-form-field>
            <mat-form-field class="form-group">
                <input type="text" matInput name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="service.formData.phoneNumber" placeholder="Phone number" class="form-control" required>
                <div *ngIf="phoneNumber.invalid && phoneNumber.touched" class="validation-error">Phone number is required!</div>
            </mat-form-field>
            <mat-form-field class="form-group">
                <input type="text" matInput name="address" #address="ngModel" [(ngModel)]="service.formData.address" placeholder="Address" class="form-control" required>
                <div *ngIf="address.invalid && address.touched" class="validation-error">Address is required!</div>
            </mat-form-field>
            <div>
                <button class="pulse" *ngIf="id.value" type="submit" [disabled]="form.invalid">Edit user</button>
            </div>
        </form>
    </div>
    
    <span class="spinnerDiv"> <!--<span *ngIf="loading" class="spinnerDiv">-->
        <!--<mat-spinner></mat-spinner>-->
    </span>
    
    <div class="container">
        <table>
            <thead>
                <th>E-mail:</th>
                <th>First name:</th>
                <th>Last name:</th>
                <th>Address:</th>
                <th>Phone number:</th>
                <th>Edit:</th>
                <th>Delete:</th>
            </thead>
            <tbody>
                <tr *ngFor="let i of lista">
                    <td>{{i.email}}</td>
                    <td>{{i.firstName}}</td>
                    <td>{{i.lastName}}</td>
                    <td>{{i.address}}</td>
                    <td>{{i.phoneNumber}}</td>
                    <td><button class="pulse" (click)="onEdit(i)">Edit</button></td>
                    <td><button class="pulse" style="color: rgb(179, 16, 16);" (click)="onDelete(i)">Delete  </button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <p> ​</p>
</div>


