<h1 class="display-4">Product managment</h1>
<div>
    <h2>Modify product</h2>
    <input type="text" placeholder="Category" [(ngModel)]="category" required>
    <label>Category</label>
    <input type="number" placeholder="Drip" [(ngModel)]="drip" required>
    <label>Drip</label>
    <input type="text" placeholder="ID" [(ngModel)]="id" required>
    <label>ID</label>
    <input type="text" placeholder="imageURL" [(ngModel)]="imageURL" required>
    <label>imageURL</label>
    <input type="text" placeholder="Name" [(ngModel)]="name" required>
    <label>Name</label>
    <input type="number" placeholder="Price" [(ngModel)]="price" required>
    <label>Price</label>
    <button (click)="createProduct">DO IT</button>
</div>

<div>
    <h2>Product list</h2>
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Drip</th>
                <th>Id</th>
                <th>imageURL</th>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produc in prodList">
                <td>{{produc.category}}</td>
                <td>{{produc.drip}}</td>
                <td>{{produc.id}}</td>
                <td><img height="100px" src="{{produc.imageURL}}"></td>
                <td>{{produc.name}}</td>
                <td>{{produc.price}}</td>
                <td><button (click)="deleteProduct(produc)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>