<div>
    <input type="text" placeholder="Category" [(ngModel)]="category">
    <label>Category</label>
    <input type="number" placeholder="Drip" [(ngModel)]="drip">
    <label>Drip</label>
    <input type="text" placeholder="ID" [(ngModel)]="id">
    <label>ID</label>
    <input type="text" placeholder="imageURL" [(ngModel)]="imageURL">
    <label>imageURL</label>
    <input type="text" placeholder="Name" [(ngModel)]="name">
    <label>Name</label>
    <input type="number" placeholder="Price" [(ngModel)]="price">
    <label>Price</label>
    <button (click)="createProduct">DO IT</button>
</div>

<div>
    <h1 class="display-4">Product managment</h1>
    <button>Modify</button>
    <table>
        <thead>
            <th>Category</th>
            <th>Drip</th>
            <th>Id</th>
            <th>imageURL</th>
            <th>Name</th>
            <th>Price</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let k in list">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button>Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>