.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;

  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}


.mat-drawer-container {
  background: rgb(255,227,237);
  background: -moz-linear-gradient(25deg, rgba(255,227,237,1) 61%, rgba(249,249,249,1) 100%);
  background: -webkit-linear-gradient(25deg, rgba(255,227,237,1) 61%, rgba(249,249,249,1) 100%);
  background: linear-gradient(25deg, rgba(255,227,237,1) 61%, rgba(249,249,249,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe3ed",endColorstr="#f9f9f9",GradientType=1);  color: rgba(0, 0, 0, 0.87);
}

.cart{
  text-align: right;
  margin-left: auto;
}

.cart:hover{
  color:rgba(0, 0, 0, 0.87)
}

.product{
  margin-left: 26%;
  text-align: center;
  position: relative;

  font-weight: 600;
  font-size: 25px;
  font-family: "Avenir Next", sans-serif;
}

.product:hover{
  color:rgba(0, 0, 0, 0.87)
}

.title {

  

  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  font-size: 64px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
  display: inline-block;
}

#t1:hover {
  color: #ffb9c7;
}

#t2:hover {
  color: #97f0f5;
}

.leugroMenu{
  text-align: center;

  font-weight: 600;
  font-size: 15px;
  font-family: "Avenir Next", sans-serif;
}
.try{
  --bg-size: 600%;
  --color-one: rgba(2,0,36,1);
  --color-two: rgba(24,121,72,1);
  --color-three: rgba(0,83,99,1);

  background: linear-gradient(
      50deg,
      var(--color-one),
      var(--color-two),
      var(--color-three),
      var(--color-two),
      var(--color-one),
      
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text
}