.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: #E8F3F5;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.login_button{
  margin-left: auto;
}
.mat-drawer-container {
  background: rgb(255,227,237);
  background: -moz-linear-gradient(25deg, rgba(255,227,237,1) 61%, rgba(249,249,249,1) 100%);
  background: -webkit-linear-gradient(25deg, rgba(255,227,237,1) 61%, rgba(249,249,249,1) 100%);
  background: linear-gradient(25deg, rgba(255,227,237,1) 61%, rgba(249,249,249,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe3ed",endColorstr="#f9f9f9",GradientType=1);  color: rgba(0, 0, 0, 0.87);
}