<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content >
    
    <mat-toolbar color="primary">


      
      <span class="title" id="t1" routerLink="/home">Drip</span><span class="title" id="t2" routerLink="/home">Shop</span>
      
      <h3 class="product" [routerLink]="'/products'" >Products</h3>

      <mat-icon [routerLink]="'/cart'" class="cart">shopping_cart</mat-icon>


      <button class="login_button" mat-button [matMenuTriggerFor]="userMenu" *ngIf="authService.currentUser$ | async as user; else loginButton">
        <mat-icon>account_circle</mat-icon>
        {{user.displayName}}
        <mat-icon>expand_more</mat-icon>
      </button>
      
        <ng-template #loginButton >
          <button class="login_button" mat-button routerLink="login">
            <mat-icon>login</mat-icon>
            Login
          </button>
        </ng-template>
        <mat-menu #userMenu="matMenu">
          <button class="leugroMenu" mat-menu-item (click)="logout()">Logout</button>
          <button class="leugroMenu" mat-menu-item  routerLink="/user management">User management</button>
        </mat-menu>

    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>