<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content >
    
    <mat-toolbar color="primary">


      
      <span class="title" id="t1" routerLink="/home">Drip</span><span class="title" id="t2" routerLink="/products">Shop</span>
    
      <nav role='navigation'>
        <a [routerLink]="'/products/Tops'">Tops          </a>
        <a [routerLink]="'/products/Pants'">Pants         </a>
        <a [routerLink]="'/products/Accessories'">Accessories   </a>
        <a [routerLink]="'/products/Outfit'">Outfits       </a>      
      </nav>  

      <mat-icon *ngIf="authService.currentUser$ | async as user;" [routerLink]="'/cart'" class="cart">shopping_cart</mat-icon>


      <button class="login_button" mat-button [matMenuTriggerFor]="userMenu" *ngIf="authService.currentUser$ | async as user; else loginButton">
        <mat-icon>account_circle</mat-icon>
        {{user.displayName}}
        <mat-icon>expand_more</mat-icon>
      </button>
      
        <ng-template #loginButton >
          <button class="login_button" mat-button routerLink="login" [routerLink]="'../login'">
            <mat-icon>login</mat-icon>
            Login
          </button>
        </ng-template>
        <mat-menu #userMenu="matMenu">
          <span *ngIf="authService.currentUser$ | async as user">
            <button class="leugroMenu" mat-menu-item (click)="logout()">Logout</button>
            <button *ngIf="user.displayName == 'Admin'" class="leugroMenu" mat-menu-item  routerLink="/usermanagement">User Management</button>
            <button *ngIf="user.displayName == 'Admin'" class="leugroMenu" mat-menu-item  routerLink="/product-admin">Product Management</button>
          </span>
        </mat-menu>

    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>