img {
  display: flex;
  margin-inline: auto;
  width: 60%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: ease 0.5s;
  text-decoration: none;

}

.mat-dialog-container{
  padding: 0;
}

.product-card {
  color: white;
  background-color: #2a2b38;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-size: 600%;
  border-radius: 0px;
  text-align: center;

  width: 90vh;
  height: 90vh;
  margin: 0 auto;
  gap: 5%;
  color: white;
  padding: 2%;
}

.product-chip{
  text-align: center;
  align-items: flex-start;
  margin: 4px;
}

.chips{
  width: 49%;
  justify-content: center;
}

.cover-image {
  width: 500px;
  height: 500px;
  overflow: hidden;
}
img:hover {
  transform: scale(1.1);
}
.image-container {
  display: flex;
  justify-content: center;
  padding: 5%;
}
.image-container img {
  width: 100%;
  object-fit: cover;
}


.product-info {
  display: flex;
  justify-content: center;

  .product-name {
    text-align: center;
    font-family: "Avenir Next", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 36px;
    color: white;
  }
}


.price {
  padding-top: 2%;
  font-size: 3vh;
  font-weight:500;
}

.mat-size-container {
  border: 0;
  gap: 3%;
}

.mat-button-toggle {
  border: 1px solid grey !important;
}

.mat-size-button {
  border-radius: 0px;
  width: 50px;
  padding: 0;
  
  &:hover{
    transform: scale(1.1);
    background-color: grey;
  }
}


.button-container {
  width: 100%;

  display: flex;
  justify-content: center;
  margin-block: 15px;
}

//Button CSS Start:

.pulse {
  letter-spacing: 0;
  font-size: 24px;
  width: 50%;
}

.pulse:after, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--after); }
}
//=== Set button colors
// If you wonder why use Sass vars or CSS custom properties...
  // Make a map with the class names and matching colors
$colors: (
  pulse: rgba(24,121,72,1)
);

// Sass variables compile to a static string; CSS variables are dynamic and inherited
  // Loop through the map and set CSS custom properties using Sass variables
@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --after: #{$color};
  }
}

// Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties.
button, a {  
  color: var(--color);
  transition: 0.25s;
  
  &:after,
  &:focus { 
    border-color: var(--after);
    color: #fff;
  }
}

// Basic button styles
button, a {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  padding: 1em 2em;

  font-family: "Avenir Next", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;

  text-decoration: none;
  
}

//Button CSS End