<div class="product-card">
  <div class="image-container">
    <div class="cover-image product-image">
      <img mat-card-image src="{{ product.imageURL }}" />
    </div>
  </div>
  <div class="product-info">
    <h3 class="product-name">{{ product.name }}</h3>
  </div>
  <div class="product-chip">
    <mat-chip-list>
      <mat-chip class="chips" color="accent">Drip Certified</mat-chip>
      <mat-chip class="chips" color="accent">Cengiz Approved</mat-chip>
    </mat-chip-list>
  </div>
    <div class="price">
    <p>{{ formatPrice(product.price) }} Ft</p>
  
  </div>
  <!--<p class="regular-price">1599$</p>-->
  <!-- <div class="example-button-row">
    <div class="example-flex-container">
      <mat-button-toggle-group
        class="mat-size-container"
        name="fontStyle"
        aria-label="Font Style"
      >
        <mat-button-toggle
          class="mat-size-button"
          *ngFor="let size of productSize | keyvalue"
          value="size.value"
          >{{ size.value }}</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
  </div> -->
  <!--<p class="offer-info">The offer is valid until April 3 or as long as stock losts!</p>-->
  <div class="button-container">
    <button class="submit-button pulse" (click)="sumbit(product)">
      Add to cart
    </button>
  </div>
</div>
