<div class="main-page content">
  <span class=" boujee-text">DRIP SHOP</span>

    <mat-card class="mat-elevation-z4" routerLink="/products">
      <mat-card-title>
        Products
      </mat-card-title>
      <mat-card-content>
        content
      </mat-card-content>
      
    </mat-card>

    <mat-card class="mat-elevation-z4" routerLink="/products">
      <mat-card-title>
        Products
      </mat-card-title>
      <mat-card-content>
        content
      </mat-card-content>
    </mat-card>


</div>