<div class="main-page content">
  <div id="main-title">
    <span class="boujee-text">DRIP SHOP</span>
    
    <h1>Discover the world of Fashion</h1>
  </div>

  <div class="product-container">
    <div class="product-item">
      <div class="gradient-border">
        <mat-card class="mat-elevation-z4 example-card" id="products-card" routerLink="/products">
          <mat-card-title>
            <h1>Products</h1>
          </mat-card-title>
          <mat-card-content>
            <p>Text</p>
          </mat-card-content>
        </mat-card>
      </div>

    <div class="gradient-border">
      <mat-card class="mat-elevation-z4 example-card" id="login-card" routerLink="/login">
        <mat-card-title>
          <h1>Sign-in</h1>
        </mat-card-title>
        <mat-card-content>
          <p>Text</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="gradient-border">
      <mat-card class="mat-elevation-z4 example-card" id="outfits-card" routerLink="/products/Outfit">
        <mat-card-title>
          <h1>Outfits</h1>
        </mat-card-title>
        <mat-card-content>
          <p>Text</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>



