.example-card {
  width: 400px;
}
.product-item {
  display: flex;
}

.product-container {
  margin-top:15px;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content:center;
  gap: 25px;
}

.example-header-image {
  background-size: cover;
}
