<app-nav></app-nav>

<div class="product-container">

  <!--
<div class="side-bar">
  <form *ngFor="let category of categories" >
      <mat-checkbox #categoryBox id="{{category}}" value="{{category}}" >{{category}}</mat-checkbox>   
  </form>
  <button (click)="filterByCheckBoxValues()">Filter</button>
</div>
-->

<div *ngFor="let product of productList" class="product-item">
 <mat-card class="example-card product-border" (click)="openProductDialog(product)">
    <mat-card-header >
      <mat-card-title class="product-title">{{product.name}}</mat-card-title>
    </mat-card-header>
    <div class="image-container">
      <div class="cover-image product-image">
        <img
        mat-card-image
        src={{product.imageURL}}
        />
      </div>
    </div>
    <mat-card-subtitle class="product-price">{{ formatPrice(product.price) }} Ft</mat-card-subtitle>
  </mat-card>
</div>
</div>
