<app-nav></app-nav>

<div class="container">
    <table mat-table>
        <thead>
            <th>Name:</th>
            <th>Size:</th>
            <th>Quantity:</th>
            <th>Price:</th>
        </thead>
        <tbody>
            <tr>
                <td>Black Bomber</td>
                <td>XL</td>
                <td>1</td>
                <td>189 999 Ft</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="order-container mat-elevation-z5">
    <h1 class="subtitle">Order data</h1>
    <form  autocomplete="off" >
        <mat-form-field class="form-group">
            <input type="text" matInput name="address" placeholder="Address" class="form-control" required>
        </mat-form-field>
    
        <mat-form-field class="form-group">
            <input type="text" matInput name="firstName" placeholder="First Name" class="form-control" required >
        </mat-form-field>
    
        <mat-form-field class="form-group">
            <input type="text" matInput name="lastName" placeholder="Last Name" class="form-control" required >
        </mat-form-field>

        <mat-form-field class="form-group">
            <input type="text" matInput name="email" placeholder="Email address" class="form-control" required>
        </mat-form-field>
    
        <mat-form-field class="form-group">
            <input type="text" matInput name="phone" placeholder="Phone number" class="form-control" required >
        </mat-form-field>

            <button class="pulse">Order</button>
        
    </form>
</div>