<h1>Your order</h1>

<table> 
	<thead>
		<th>Name</th>
		<th>Image</th>
		<th>Price</th>
	</thead>
	<tbody>
		<tr>
			<td>{{name}}</td>
			<<td><img height="100" src="{{image}}"></td>
            		<td>{{price}} Ft</td>
		</tr>
	</tbody>
</table>
<h2> class="right">Total: {{total}} Ft </h2>

	

<div class="formDiv">
	<h1>Order data</h1>
	<form>
		<mat-form-field class="form-group">
            		<input type="text" name="email" placeholder="Email address"  required>
        	</mat-form-field>
        	<mat-form-field class="form-group">
            		<input type="text" name="address" placeholder="Address"  required>
        	</mat-form-field>
        	<mat-form-field class="form-group">
            		<input type="text" name="firstname" placeholder="First name"  required>
        	</mat-form-field>
        	<mat-form-field class="form-group">
            		<input type="text" name="lastname" placeholder="Last name"  required>
        	</mat-form-field>
        	<mat-form-field class="form-group">
            		<input type="text" name="phone"  placeholder="Phone number"  required>
        	</mat-form-field>
        	<div class="form-group">
        		<button type="submit">Order</button>
        	</div>
	</form>
</div>
