
mat-form-field {
    width: 70%;
}

.formDiv {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 16px;
    overflow: hidden;
    border-right: 0;
    border-left: 0;
}

.cartDiv {
    width: 90%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    border-right: 0;
    border-left: 0;
    overflow: hidden;
}

input {
    font-size: 30px;
}
.subtitle{
    font-family: "Avenir Next", sans-serif;
    font-weight: 800;
  
    text-transform: uppercase;
    font-size: 36px;
    color: white;
  
    text-align: center;
  }

table {
    border-collapse: separate;
    border-spacing: 0.5em 1em;
    width: 100%;
  
    text-align: center;
}

.right  {
    text-align: right;
    
}

.order-container {
    color: white;
    display: block;
    max-width: 80%;
    margin: auto;
    margin-top: 30px;
    background: linear-gradient(#243b55, #243b55);
    padding: 48px;
    text-align: center;
  }

.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}
//=== Set button colors
// If you wonder why use Sass vars or CSS custom properties...
  // Make a map with the class names and matching colors
$colors: (
  pulse: rgba(24,121,72,1)
);

// Sass variables compile to a static string; CSS variables are dynamic and inherited
  // Loop through the map and set CSS custom properties using Sass variables
@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}

// Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties.
button, a {  
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #fff;
  }
}

// Basic button styles
button, a {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;

  width: 50%;
  font-family: "Avenir Next", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;

  text-decoration: none;
  
}

.container {
    justify-content: center;
    margin-top: 5%;
    display: flex;
}

table {
	width: 80%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	table-layout: fixed;
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: center;
}

thead {
    background-image: linear-gradient(160deg,  rgba(0,91,65,1) 35%, rgba(0,83,99,1) 70%, rgba(2,0,36,1) 100%);
   th{
       color: black;
       font-family: "Avenir Next", sans-serif;
       font-weight: 900;
       font-size: 20px;
       text-transform: uppercase;
       font-style: italic;
       letter-spacing: 0.05em;
       text-align: center;

   }
}

tbody {
	tr {
        text-align: center;
        font-family: "Avenir Next", sans-serif;
        font-weight: 900;
        font-size: 15px;
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}
.white-icon {
    color: white;
}
.white-icon svg {
    fill: white;
}

