<app-nav>
  
</app-nav>
<div class="cart-container">
    <h1 class="subtitle">Your Cart</h1>
    <div class="container">
        <table>
            <thead>
                <th>Name</th>
                <th>Image</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Remove</th>
            </thead>
            <tbody>

        
                <tr *ngFor="let i of getCartItems()">
                    <td class="bigText">{{i.product.name}}</td>
                    <td><img height="100" src="{{i.product.imageURL}}"></td>
                    <!-- <td>
                        <input list="sizesTag">
                        <datalist id="sizesTag">
                            <option *ngFor="let s of sizes.sizes" [value]="s" >{{i.size}}</option>
                        </datalist>
                    </td> -->
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Size</mat-label>
                            <mat-select [(value)]="i.size">
                              <mat-option *ngFor="let s of sizes.sizes" [value]="s">
                                {{s}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </td>
                    <!-- <td><button (click)="decreaseQunatitiy(i)">-</button> {{i.quantity}} <button (click)="increaseQunatitiy(i)">+</button></td> -->
                    <td>
                        
                            <button class="pulse"(click)="decreaseQunatitiy(i)">
                              -
                            </button>
                            {{i.quantity}}
                            <button class="pulse" (click)="increaseQunatitiy(i)">
                              +
                            </button>
                       
                    </td>
                    <td><span class="bigText">{{formatPrice(i.quantity * i.product.price)}} Ft</span><br>({{i.quantity}} * {{formatPrice(i.product.price)}} Ft)</td>
                    <td><a (click)="deleteCartItem(i)" class="btn text-danger">
                        <mat-icon style="color: red;">remove_shopping_cart</mat-icon>
                    </a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="checkout">
        <h2 class="subtitle">Total: {{calculatePrice()}} Ft</h2>
        <button class="pulse" style="width: 60%; height: 100px;" (click)="onSubmit()">Checkout!</button>
    </div>
</div>

