tr {
    // border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

tr:hover {
    background-color: rgb(209, 209, 209);
}

table {
    border-collapse: separate;
    border-spacing: 0.5em 1em;
    width: 100%;
    margin: 0;
}

.right  {
    text-align: end;
}

div {
    align: center;
    margin: 20px;
    width: 80%;
}

// form {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
// }

// mat-form-field {
//     width: 64%;
// }

// .formDiv {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     background-color: rgb(30, 30, 30);
//     padding: 16px;
// }

// input {
//     font-size: 24px;
// }